<div class="pilotInfo">
  <div>
    <p class="text-white" [innerHTML]="data.pilotInfo"></p>
  </div>
  <!--<div class="charts&#45;&#45;container">-->
    <!--<div class="multi-select&#45;&#45;wrapper">-->
      <!--<button class="multi-select" *ngFor="let airport of data.airports" [class.selected]="viewerURL === airport.chart" (click)="setURL(airport.chart)">{{airport.icao}} Aerodrome</button>-->
    <!--</div>-->
    <!--<div class="chart&#45;&#45;slider">-->
      <!--<div class="chart&#45;&#45;wrapper" [class.loading]="!frameVisible">-->
        <!--<iframe name="chartFrame" [src]="safeURL()">-->
          <!--This browser does not support PDFs. Please download the PDF to view it: &lt;!&ndash;suppress HtmlUnknownTag, HtmlUnknownTag &ndash;&gt;-->
          <!--<a href="{{viewerURL}}">Download PDF</a>-->
        <!--</iframe>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
