<div class="pilotInfo">
  <div>
    <p class="section--text text-white">{{data.pilotInfo}}</p>
  </div>
  <div class="charts--container">
    <div class="multi-select--wrapper">
      <button class="multi-select" *ngFor="let airport of data.airports" [class.selected]="viewerURL === airport.chart" (click)="setURL(airport.chart)">{{airport.icao}} Aerodrome</button>
    </div>
    <div class="chart--slider">
      <div class="chart--wrapper" [class.loading]="!frameVisible">
        <iframe name="chartFrame" [src]="safeURL()">
          This browser does not support PDFs. Please download the PDF to view it: <a href="{{viewerURL}}">Download PDF</a>
        </iframe>
      </div>
    </div>
  </div>
</div>
