.beta {
  background: #f2f2f2;
  height: 50px;
  font-size: 16px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  top: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 962px) {
  .beta {
    height: 60px;
  }

  .container {
    top: 60px;
  }

}

/*MEDIA QUERY*/
@media only screen and (max-width : 504px) {
  .beta {
    height: 70px;
  }

  .container {
    top: 70px;
  }

}

/*MEDIA QUERY*/
@media only screen and (max-width : 362px) {
  .beta {
    height: 90px;
  }

  .container {
    top: 90px;
  }

}
