<nav class="navbar" [class.scrolled]="scrolled">
  <a href="" class="navbar--brand">
    <img src="//cdn.vatpac.org/images/logo_old.png" alt="">
  </a>

  <a href="#" id="menu-icon" (click)="menuIconClick()"></a>

  <ul class="navbar--items">
    <li class="navbar--item"><a class="link--item" [ngx-scroll-to]="'aboutAnchor'">About</a></li>
    <li class="navbar--item"><a class="link--item" [ngx-scroll-to]="'pilotAnchor'">Pilot Info</a></li>
    <li class="navbar--item"><a class="link--item" [ngx-scroll-to]="'atcAnchor'">ATC</a></li>
    <li class="navbar--item"><a class="link--item">Tom Grozev</a></li>
    <li class="navbar--item"><a class="link--item text-s-red">Logout</a></li>
  </ul>
</nav>
