<div *ngIf="data">
  <div class="header--hero">
    <app-topnav></app-topnav>

    <div class="header--container">
      <div class="bg-img"></div>

      <div class="content--wrapper">
        <h1 class="event-name">{{data.title}}</h1>
        <h2 class="primary-location">{{data.subTitle}}</h2>
      </div>
    </div>
  </div>

  <div id="aboutAnchor" class="about-info--container">
    <div class="about-info--row">

      <div *ngFor="let airport of data.airports; let i = index" >
        <app-about *ngIf="data.airports.length === 2 && i === 0" [item]="{title: 'Departing', icon: 'departure-icon.png', line1: airport.icao, line2: '('+airport.icao+')', reverselines: false, centerlines: true}"></app-about>
        <app-about *ngIf="data.airports.length === 2 && i === 1" [item]="{title: 'Arriving', icon: 'departure-icon.png', line1: airport.icao, line2: '('+airport.icao+')', reverselines: false, centerlines: true}"></app-about>
        <app-about *ngIf="data.airports.length !== 2" [item]="{title: '', icon: 'departure-icon.png', line1: airport.icao, line2: '('+airport.icao+')', reverselines: false, centerlines: true}"></app-about>

      </div>
    </div>

    <div class="divider horizontal spaced"></div>

    <div class="about-info--row">
      <app-about [item]="{title: 'Starting', icon: 'pilot-icon.png', line1: formatDate(data.start), line2: formatTime(data.start), reverselines: true, centerlines: false}"></app-about>

      <app-about [item]="{title: 'Ending', icon: 'pilot-icon.png', line1: formatDate(data.end), line2: formatTime(data.end), reverselines: true, centerlines: false}"></app-about>
    </div>
  </div>

  <div id="infoAnchor">
    <div class="sections--container" *ngFor="let section of data.sections">
      <h2 class="section--title">{{section.title}}</h2>

      <p class="section--text" [innerHTML]="section.content"></p>
      <!--<app-pilot-info [data]="data"></app-pilot-info>-->
    </div>
  </div>

  <div id="atcAnchor" class="reserveATC--container">
    <h2 class="section--title">Reserve ATC</h2>

    <app-reserve-atc [times]="data.positions" [shifts]="data.shiftLength" [start]="data.start" [end]="data.end" [selectedTimes]="data.selected || {}" [event_id]="data.id" [published]="data.published"></app-reserve-atc>
  </div>

  <div class="footer">
    <p>&#169; VATPAC 2019</p>
  </div>
</div>
