<div class="multi-select--wrapper light">
  <div>
    <button *ngFor="let date of dates" class="multi-select" [class.selected]="date === currentDate" (click)="setTimesForDay(date)">{{formatDate(date)}}</button>
  </div>
</div>

<!--<h4>Filter by</h4>-->
<app-airport-line *ngFor="let airport of airports" [airport]="airport" (airportFilter)="filterTimes($event)" [currentFilter]="currentFilter"></app-airport-line>

<div class="atc-timeline--container">
  <div class="timeline-labels">
    <span *ngFor="let time of filteredTimes" class="position-title">{{time.airport}} {{time.position}}</span>
  </div>

  <div class="timelines--container">
    <app-atc-timeline *ngFor="let time of filteredTimes" [times]="time.times" [position]="time.position"></app-atc-timeline>

    <ul class="timeline">
      <li *ngFor="let time of timelineTimes">
        <div class="status"></div>
        <span>{{time}}</span>
      </li>
    </ul>
  </div>
</div>
